 .app-container {

    width:100%;
   } 
  .transport-wrapper{
    margin-top: 18rem;
  }
  
  .search-wrapper {
    margin-bottom: 1rem;
  }

  .card-wrapper {
    /* margin-left: 2rem; */
    /* margin-right:2.5rem; */
    margin-top: 1 rem;
  }