
.pre-footer {
  background-color: #f9f9f9;
  padding: 20px;
  border-top: 1px solid #eee; 
}

.pre-footer-container {
   max-width: 1230px;
  margin: 0 auto;
  text-align: left; 
  font-family: 'Open Sans', sans-serif; 

}

.pre-footer h2 {
  color: #333;
  margin-bottom: 15px;
}


.pre-footer-container table {
  width: 100%;
  border-collapse: separate; 
  border-spacing: 1px; 
  margin-top: 1em;
  margin-bottom: 1em;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}


.pre-footer-container td {
  padding: 15px; 
  text-align: left; 
  font-family: 'Open Sans', sans-serif;
}


.pre-footer-container th {
  background-color: #f0f0f0;
  font-weight: bold;
  padding: 0.5em;
  text-align: left;
}


.bg-charcoal-40 {
  --tw-bg-opacity: 1;
  background-color: rgb(244 245 245 / var(--tw-bg-opacity));
}

.read-more-inline {
  background: none;
  border: none;
  color: blue;
  cursor: pointer;
  padding: 0;
  margin-left: 0.5em;
  font-weight: bold;
  display: inline;
}

.read-more-inline:hover {
  text-decoration: underline;
}

.pre-footer-container button {
  background: none;
  border: none;
  color: blue;
  cursor: pointer;
  padding: 5px 0;
  font-weight: bold;
  margin-top: 1em;
}

.pre-footer-container button:hover {
  text-decoration: underline;
}


.pre-footer-container table tr:nth-child(3) td:last-child {
  white-space: nowrap;
}

.airline-status-list {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

.airline-status-list li {
  margin-bottom: 0.2em;
  line-height: 1.2;
}

.airline-link {
  text-decoration: none;
  color: #007bff;
  display: block;
}