/* src/components/PreFooter.css */
.pre-footer {
  background-color: #f9f9f9; /* Example background */
  padding: 20px;
  border-top: 1px solid #eee; /* Example separator */
}

.pre-footer-container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: left; /* Set default text alignment for the container */
  font-family: 'Open Sans', sans-serif; /* Apply the similar font */
}

.pre-footer h2 {
  color: #333;
  margin-bottom: 15px;
}

/* Styles for the table */
.pre-footer-container table {
  width: 100%;
  border-collapse: separate; /* Use 'separate' to allow spacing between cells */
  border-spacing: 1px; /* Adjust this value to control the spacing between cells */
  margin-top: 1em;
  margin-bottom: 1em;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

/* Styles for table cells (td) */
.pre-footer-container td {
  padding: 15px; /* Use the padding you specified */
  text-align: left; /* Ensure text within cells is left-aligned */
  font-family: 'Open Sans', sans-serif;
}

/* Styles for table headers (th) - if you add them later */
.pre-footer-container th {
  background-color: #f0f0f0;
  font-weight: bold;
  padding: 0.5em;
  text-align: left; /* Ensure header text is also left-aligned */
}

/* Styles for the bg-charcoal-40 class applied to td */
.bg-charcoal-40 {
  --tw-bg-opacity: 1;
  background-color: rgb(244 245 245 / var(--tw-bg-opacity));
}

/* Styles for the ReadMoreLess component */
/* You might have additional styles for the button etc. */
.read-more-inline {
  background: none;
  border: none;
  color: blue;
  cursor: pointer;
  padding: 0;
  margin-left: 0.5em;
  font-weight: bold;
  display: inline;
}

.read-more-inline:hover {
  text-decoration: underline;
}

.pre-footer-container button {
  background: none;
  border: none;
  color: blue;
  cursor: pointer;
  padding: 5px 0;
  font-weight: bold;
  margin-top: 1em;
}

.pre-footer-container button:hover {
  text-decoration: underline;
}

/* Prevent wrapping in the Bus Booking description */
.pre-footer-container table tr:nth-child(3) td:last-child {
  white-space: nowrap;
}

.airline-status-list {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

.airline-status-list li {
  margin-bottom: 0.2em; /* Added small margin to bottom of each list item */
  line-height: 1.2; /* changed line height to 1.2 to add spacing */
}

.airline-link {
  text-decoration: none;
  color: #007bff;
  display: block;
}